body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    /* align-items: center; */
    /* Centers vertically */
}

 .main-container {
     text-align: center;
     /* Centers text inside the div */
     padding: 20px;
     border: 2px solid #000;
     width: 100%;
 }

 .header-name {
     font-size: 4em;
     font-weight: bold;
 }

 .input-container {
        margin-top: 20px;
        background-color: red;
 }

 .to-do-title, .to-do-button {
        font-size: 1.5em;
        margin: 10px;
 }

 .todo-list {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: left;
    margin-left: 10px;
 }